<header class="header">
  
<div class="header-container">
  <div class="header__media-holder">
      <video loop muted preload="auto" class="header__media-video" autoplay="autoplay" poster="/images/background/techdu_kids_blur.png" >
        <source src="video/techdu.ogv" type="video/mp4" />
        <source src="video/techdu.webm" type="video/webm" />
      </video>
      <img class="header__media-background" src="/images/background/techdu_kids_blur.png"/>
    </div>
    <div class="header__overlay">
      <img class="header__logo" src="/images/logo.png" alt="techdu logo" />
      <h1 class="header__text">Bridging the worlds of technology and education</h1>
    </div>
  </div>
</header>

<section>
  <div class="main-content">
    <p class="desc">"At tEchDU, we learn what matters to students and teachers most and collaborate with the tech industry to help create impactful and transformative solutions for education."   
    </p>
  </div>

  <% data.events.each do |event| %>
    <section class="event" style="background-image: url(/images/background/<%= event.background %>);">
      <div class="event-inner">
        <header class="event-heading">
          <h2 class="event-heading__title"><%= event.heading %></h2>
        </header>
        
        <div class="event-content">
          <% if event_has_url?(event) %>
            <div class="event-media">
              <iframe src='<%= event.media %>' width="940" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          <% else %>
            <div class="event-image site-width">
              <div class="event-image__media">
                <img src="/images/<%= event.media %>">
              </div>
            </div>
          <% end %>

          <div class="event-details">
            <div class="event-details__location">
              <b><%= event.date %></b><br />
              <%= event.location %>
            </div>
            <div class="event-details__description">
              <%= event.small_desc %>
            </div>
          </div>

          <div class="event-full-desc" >
            <%= event.full_desc %>
          </div>
         </div>
      </div>
    </section>
  <% end %>
</section> 
