<header class="header">
	<img class="header__media" src="/images/techdu_backgroud.gif">
	<div class="header__overlay">
		<img style="width:60%" src="/images/logo.png" alt="techdu logo" />
		<h1 class="header__text">Bringing impactful and transformative technology into education</h1>
	</div>
</header>
<body class="body">
	<div class="main-content">
		<p class="title"> What is tEchDU?</p>
		<p class="desc">
			We learn what matters to students and teachers most and collaborate with Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</p>
	</div>


	<% data.events.each do |event| %>
		<div class="event-content">
			<h2 class="event-heading"><%= event.heading %></h2>
			<div class="event-media"><%= event.media %></div>
	    	<ul class="inline-list ">
	    		<li class="inline-list__item_left">
		      		<div ><%= event.date %></div>
		      		<div ><%= event.location %></div>
		      	</li>
		      <li class="inline-list__item_right"><%= event.small_desc %></li>
	     	</ul>
	     	<div class="event-full-desc"><%= event.full_desc %></div>
	  	</div>
	<% end %>
</body> 
