<header class="header">
  
<div class="header-container">
  <div class="header__media-holder">
      <video loop muted preload="auto" class="header__media-video" autoplay="autoplay" poster="/images/" >
        <source src="video/techdu.ogv" type="video/mp4" />
        <source src="video/techdu.m4v" type="video/mp4" />
        <source src="video/techdu.webm" type="video/webm" />
      </video>
      <img class="header__media-background" src="/images/background/techdu_kids_blur.png"/>
    </div>
    <div class="header__overlay">
      <img class="header__logo" src="/images/logo.png" alt="techdu logo" />
      <h1 class="header__text">Bringing impactful and transformative technology into education</h1>
      <p class="header__subscription-text">Subscribe to our mailing list for tickets reminders and info about future events</p>
      <form class="header__input" action="//madebymany.us3.list-manage.com/subscribe?u=bb6ef8c1b569c34510855551f&id=2c5505341e" method="post">
        <div class="sign-up__form__field">
          <input placeholder="Enter email address" name="email" type="text" class="sign-up__form__email">
        </div>
        <div class="sign-up__form__field">
          <button type="submit" class="sign-up__form__submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</header>

<section>
  <div class="main-content">
    <h3 class="title"> What is tEchDU?</h3>
    <svg height="2" width="180" style="background-color:red; display: inline-block; vertical-align: top; display:block; margin: auto;"/>
    <p class="desc">
      We learn what matters to students and teachers most and collaborate with Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
  </div>

  <% data.events.each do |event| %>
    <section class="event" style="background-size: 350%; background-image: url(/images/background/<%= event.background %>);">
      <div class="event-inner">
        <header class="event-heading">
          <h3 class="event-heading__label"><%= event.event_number %></h3>
          <svg height="2" width="180" style="background-color:black; display: inline-block; vertical-align: top; display:block; margin: auto;"/>
          <h2 class="event-heading__title"><%= event.heading %></h2>
        </header>
        <div class="event-content">
          <% if event_has_url?(event) %>
            <div class="event-media">
              <iframe src='<%= event.media %>' width="940" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          <% else %>
            <div class="event-image site-width">
              <div class="event-image__media">
                <img src="/images/<%= event.media %>">
              </div>
            </div>
          <% end %>

          <div class="event-details">
            <div class="event-details__location">
              <b><%= event.date %></b><br />
              <%= event.location %>
            </div>
            <div class="event-details__description">
              <%= event.small_desc %>
            </div>
          </div>

          <div class="event-full-desc site-width event-description">
            <%= event.full_desc %>
          </div>
         </div>
      </div>
    </section>
  <% end %>
</section> 
