<header class="header">
	<img class="header__media" src="/images/techdu_background.gif">
	<div class="header__overlay">
	<div class="horizontal">
    	<div class="vertical">
			<img style="header__logo" src="/images/logo.png" alt="techdu logo" />
		</div>
	</div>
	<h1 class="header__text">Bringing impactful and transformative technology into education</h1>
	<p style="text-align: center; margin-top: 10px; margin-bottom: 10px;">Subscribe to our mailing list for tickets reminders and info about future events</p>
	<form class="header__input" action="//madebymany.us3.list-manage.com/subscribe?u=bb6ef8c1b569c34510855551f&id=2c5505341e" method="post">
		<div class="sign-up__form__field">
      		<input placeholder="Enter email address" name="email" type="text" class="sign-up__form__email">
    	</div>
    	<div class="sign-up__form__field">
      		<button type="submit" class="sign-up__form__submit">Submit</button>
    	</div>
    </form>
	</div>
</header>

<body>
	<div class="main-content">
		<p class="title"> What is tEchDU?</p>
		<p class="desc">
			We learn what matters to students and teachers most and collaborate with Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</p>
	</div>

	<% data.events.each do |event| %>
		<div class="event-content" style="background-size: 250%; background-image: url(/images/background/<%= event.background %>);">
			<h2 class="event-heading__number"><%= event.event_number %></h2>
			<h2 class="event-heading"><%= event.heading %></h2>
				
			<% if event_has_url?(event) %>
				<div class="event-media site-width">
	        <iframe src='<%= event.media %>' width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	    	</div>
	  	<% else %>
	  		<div class="event-image site-width">
	    		<div class="event-image__media">
	  				<img src="/images/<%= event.media %>">
	  			</div>
	  		</div>
	  	<% end %>

	  	<ul class="inline-list site-width">
	  		<li class="inline-list__item_left">
	      		<div ><%= event.date %></div>
	      		<div ><%= event.location %></div>
	      	</li>
	      <li class="inline-list__item_right"><%= event.small_desc %></li>
		  </ul>

		  <div class="event-full-desc site-width"><%= event.full_desc %></div>
	  </div>
	<% end %>
</body> 
